/* 
#1E1C1C = Blackish
#212121 = Grayish
#FF4545 = Redish
*/
body {
    background-color: black;
    margin: 0;
    width: 100%;
    overflow-x: hidden;
}

.stopScroll {
    overflow: hidden;
}

h1 {
    font-family: 'Roboto';
    font-weight: 700;
    color: #FF4545;
    margin: 0 0 5% 0;
}

.navbar {
    position: fixed;
    width: 100%;
    height: 100px;
    display: flex;
    top: 0;
    left: 0;
    background-color: black;
    z-index: 100;
}

.navbar .column {
    display: flex;
    align-items: center;
    width: 50%;
    height: 100%;
}

.navbar .column .logo {
    margin: 2% 5%;
    width: 100px;
    height: auto;
    transition: 0.3s;
    cursor: pointer;
}

.navbar .column .logo:hover {
    width: 105px;
    height: auto;
}

.navbar .column .buttons {
    font-family: 'Nunito';
    font-weight: 700;
    font-size: 1em;
    color: #FF4545;
    background-color: transparent;
    border: none;
    font-size: 20px;
    margin: 0 3% 0 3%;
    cursor: pointer;
    height: 100%;
    padding: 2%;
    transition: 0.3s;
}

.navbar .column .buttons:hover {
    font-size: 1.4em;
}

.burger {
    opacity: 0;
    font-size: 1.5em;
    color: #FF4545;
    cursor: pointer;
    transition: 0.3s;
}

.burger:hover {
    font-size: 2em;
}

.main {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.main .logo {
    position: absolute;
    display: flex;
    width: 100%;
    max-width: 500px;
    height: auto;
}

.main .buttons-container {
    position: absolute;
    display: flex;
    top: 0;
    justify-content: center;
    width: 100%;
}

.main .buttons {
    font-family: 'Nunito';
    font-weight: 700;
    font-size: 1em;
    color: #FF4545;
    background-color: transparent;
    border: none;
    font-size: 20px;
    margin: 0 3% 0 3%;
    cursor: pointer;
    height: 100%;
    padding: 2%;
    transition: 0.3s;
}

.about {
    position: relative;
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5% 0;
    overflow: hidden;
}

.about .profile-picture {
    border-radius: 50%;
    height: auto;
    width: 100%;
    max-width: 500px;
}

.about .label {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 3em;
    color: white;
    margin: 5% 0;
    text-align: center;
}

.certifications {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5% 0;
}

.certifications .cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.certifications .cards .badge {
    padding: 2%;
    cursor: pointer;
    width: 200px;
    transition: 0.3s;
}

.certifications .cards .badge:hover {
    width: 220px;
}

.backdrop {
    position: fixed;
    display: none;
    background-color: black;
    opacity: 0.6;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 400;
}

.modal {
    position: fixed;
    display: none;
    height: 100%;
    width: 100%;
    background-color: transparent;
    align-items: center;
    justify-content: center;
    z-index: 500;
}

.modal .container {
    display: none;
    background-color: #212121;
    border-radius: 10px;
    width: 500px;
    height: auto;
    box-shadow: 0px 4px 4px #1E1C1C;
}

.modal .container .header {
    display: flex;
    padding: 5%;
}

.modal .container .header .fa-solid.fa-xmark {
    margin-left: auto;
    color: #FF4545;
    font-size: 30px;
    cursor: pointer;
    transition: 0.3s;
}

.modal .container .header .fa-solid.fa-xmark:hover {
    font-size: 35px;
}

.modal .container .body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 5%;
}

.modal .container .body .badge {
    width: 250px;
    height: auto;
}

.modal .container .body .badge-label {
    margin: 5% 0;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 1.5em;
    color: white;
}

.modal .container .body .badge-issue {
    margin: 1% 0;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 1em;
    color: white;
}

.modal .container .body .badge-actual {
    margin: 1% 0;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 1em;
    color: #FF4545;
}

.modal .container .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5%;
}

.modal .container .footer a {
    width: 100%;
}

.modal .container .footer .button {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 1em;
    color: white;
    padding: 5%;
    background-color: #FF4545;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    width: 100%;
    transition: 0.3s;
}

.modal .container .footer .button:hover {
    font-size: 1.3em;
    box-shadow: 0px 4px 4px #1E1C1C;
}

@media only screen and (max-width: 1000px) {
    .navbar .column {
        justify-content: center;
    }

    .navbar .column .buttons {
        display: none;
    }

    .burger {
        opacity: 1;
    }
}