/* 
#1E1C1C = Blackish
#212121 = Grayish
white = Redish
*/
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: white;
}

::-webkit-scrollbar-thumb {
    background: black;
}

::-webkit-scrollbar-thumb:hover {
    background: #1E1C1C;
}

hr {
    width: 90%;
    border: 0.5px solid black;
}

body {
    background-color: white;
    margin: 0;
    overflow-x: hidden;
    height: auto;
    width: 100%;
}

.stopScroll {
    overflow: hidden;
}

h1 {
    font-family: 'Poppins';
    font-weight: 400;
    color: black;
    margin: 0 0 5% 0;
}

.burger-nav {
    position: fixed;
    width: 100%;
    display: none;
    flex-direction: column;
    text-align: center;
    top: -500;
    left: 0;
    background-color: black;
    z-index: 99;
    transition: 1s;
}

.burger-nav .nav-labels {
    font-family: 'Poppins';
    font-weight: 400;
    color: white;
    cursor: pointer;
    height: 100%;
    padding: 2% 0;
    background-color: black;
    border: none;
}

.burger-nav .nav-labels:hover {
    background-color: #1E1C1C;
}

.burger-nav .socials {
    display: flex;
    justify-content: center;
    padding: 25px 0;
}

.burger-nav .socials i {
    color: white;
    cursor: pointer;
    font-size: 15px;
    padding: 0 20px;
}

.show {
    top: 100;
    transition: 0.3s;
}

.navbar {
    position: fixed;
    width: 100%;
    height: 100px;
    display: flex;
    top: 0;
    left: 0;
    background-color: black;
    z-index: 100;
}

.navbar .column {
    display: flex;
    align-items: center;
    width: 50%;
    height: 100%;
}

.navbar .column .logo-name {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 20px;
    color: white;
    letter-spacing: -1px;
    visibility: hidden;
}

.navbar .column .logo {
    margin: 2% 5%;
    width: 70px;
    height: auto;
    transition: 0.3s;
    cursor: pointer;
}

.navbar .column .logo:hover {
    width: 75px;
    height: auto;
}

.navbar .logo-mid {
    display: none;
    width: 80px;
    height: auto;
    transition: 0.3s;
    cursor: pointer;
}

.navbar .column .buttons {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 1em;
    color: white;
    background-color: transparent;
    border: none;
    font-size: 20px;
    margin: 0 3% 0 3%;
    cursor: pointer;
    height: 100%;
    padding: 2%;
    transition: 0.3s;
}

.navbar .column .buttons:hover {
    font-size: 1.4em;
    color: black;
    background-color: white;
}

.navbar .column .socials {
    display: flex;
    justify-content: center;
}

.navbar .column .socials i {
    color: white;
    cursor: pointer;
    font-size: 15px;
    padding: 0 20px;
}

.fa-bars {
    visibility: hidden;
    font-size: 1.5em;
    color: white;
    cursor: pointer;
    transition: 0.3s;
    transform: rotate(360deg);
}

.fa-bars:hover {
    font-size: 2em;
}

.fa-xmark {
    transition: 0.3s;
    transform: rotate(180deg);
}

.main {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.main .logo {
    position: absolute;
    display: flex;
    width: 100%;
    max-width: 400px;
    height: auto;
}

.main .buttons-container {
    position: absolute;
    display: flex;
    top: 0;
    justify-content: center;
    width: 100%;
}

.main .buttons {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 1em;
    color: white;
    background-color: transparent;
    border: none;
    font-size: 20px;
    margin: 0 3% 0 3%;
    cursor: pointer;
    height: 100%;
    padding: 2%;
    transition: 0.3s;
}

.about {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 5% 0;
}

.about .info {
    width: 50%;
    margin: 5% 0;
    padding: 0 3%;
}

.about .info .container {
    display: flex;
    flex-direction: column;
    position: relative;
    border: 1px solid black;
    border-radius: 20px;
    background-color: black;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}

.about .info .container:hover {
    box-shadow: -1px 4px 29px 6px rgba(0, 0, 0, 1);
}


.about .info .container .profile-picture {
    border-radius: 50%;
    height: auto;
    width: 100%;
    max-width: 500px;
    padding: 5% 0;
}

.about .info .container .labels {
    font-family: 'Poppins';
    font-weight: 400;
    color: white;
    text-align: center;
    margin: 5% 0;
}

.about .info .container .labels .label.name {
    font-size: 1.7em;
}

.about .info .container .labels .label.loc {
    font-size: 1.3em;
}

.about .say {
    width: 50%;
    margin: 5% 0;
    padding: 0 3%;
}

.about .say .container {
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.about .say .container label {
    font-family: 'Poppins';
    font-weight: 400;
    font-style: italic;
    font-size: 1.5em;
    color: black;
    text-align: center;
}

.certifications {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.certifications .cards {
    display: flex;
    height: fit-content;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.certifications .cards .badge {
    padding: 4%;
    margin: 1%;
    cursor: pointer;
    width: 200px;
    border-radius: 20px;
    border: 1px solid black;
    background-color: black;
    transition: 0.3s;
}

.certifications .cards .badge:hover {
    box-shadow: -1px 4px 29px 6px rgba(0, 0, 0, 1);
}

.works {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.works .cards {
    display: flex;
    height: fit-content;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.works .cards .project_container {
    padding: 4%;
    margin: 1%;
    cursor: pointer;
    border-radius: 20px;
    border: 1px solid black;
    background-color: black;
    transition: 0.3s;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.works .cards .project_container:hover {
    box-shadow: -1px 4px 29px 6px rgba(0, 0, 0, 1);
}

.works .cards .project_container .project {
    width: 400px;
    height: 500px;
    object-fit: cover;
}

.backdrop {
    position: fixed;
    display: none;
    background-color: black;
    opacity: 0.6;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 400;
}

.modal {
    position: fixed;
    display: none;
    height: 100%;
    width: 100%;
    background-color: transparent;
    align-items: center;
    justify-content: center;
    z-index: 500;
}

.modal .container {
    display: none;
    background-color: black;
    border-radius: 10px;
    width: 500px;
    height: auto;
    box-shadow: 0px 4px 4px #1E1C1C;
}

.modal .container .header {
    display: flex;
    padding: 5%;
}

.modal .container .header .fa-solid.fa-xmark {
    margin-left: auto;
    color: white;
    font-size: 30px;
    cursor: pointer;
    transition: 0.3s;
}

.modal .container .header .fa-solid.fa-xmark:hover {
    font-size: 35px;
}

.modal .container .body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 5%;
}

.modal .container .body .badge {
    width: 250px;
    height: auto;
}

.modal .container .body .badge-label {
    margin: 5% 0;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 1.5em;
    color: white;
}

.modal .container .body .badge-issue {
    margin: 1% 0;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 1em;
    color: white;
}

.modal .container .body .badge-actual {
    margin: 1% 0;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 1em;
    color: white;
}

.modal .container .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5%;
}

.modal .container .footer a {
    width: 100%;
}

.modal .container .footer .button {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 1.2em;
    color: black;
    padding: 5%;
    background-color: white;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    width: 100%;
    transition: 0.3s;
}

.modal .container .footer .button:hover {
    font-size: 1.3em;
    box-shadow: 0px 4px 4px #1E1C1C;
}

footer {
    position: relative;
    height: auto;
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0;
}

footer label {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 20px;
    color: white;
    letter-spacing: -1px;
}

footer .socials {
    display: flex;
    margin: 20px;
    width: auto;
}

footer .socials i {
    color: white;
    cursor: pointer;
    font-size: 15px;
    padding: 0 15px;
}

footer .year {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 15px;
    color: #656565;
    letter-spacing: -1px;
}

@media only screen and (max-width: 1368px) {
    .main .logo {
        max-width: 300px;
    }

    .burger-nav {
        display: flex;
    }

    .navbar .column {
        justify-content: center;
    }

    .navbar .column .buttons {
        display: none;
    }

    .burger {
        visibility: visible;
    }

    .navbar .socials {
        display: none;
    }

    .about {
        flex-direction: column;
        height: auto;
    }

    .about .info {
        width: 95%;
    }

    .about .say {
        width: 100%;
    }

    .certifications {
        height: auto;
    }

    .works {
        height: auto;
    }

    .works .cards .project_container .project {
        width: 250px;
    }

    .about .info .container .profile-picture {
        max-width: 250px;
    }

    .about .info .container .labels {
        font-size: 0.8em;
    }

    .about .say .container {
        padding: 0 5%;
    }

    .about .say .container label {
        font-size: 1.2em;
    }
}